<!-- signup form -->
<div class="forms-container">
  <form #signupForm="ngForm" (ngSubmit)="onSignUp(signupForm)" class="form-container">
    <h2>Sign Up</h2>
    <hr>
    <mat-form-field>
      <input matInput placeholder="email" type="email" [(ngModel)]="user.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="username" type="text" [(ngModel)]="user.username" name="username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="password" type="password" [(ngModel)]="user.password" name="password" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
  </form>
  
  <!-- verify form -->
  <form #verifyForm="ngForm" (ngSubmit)="onVerify(verifyForm)" class="form-container">
    <h2>Verify</h2>
    <hr>
    <mat-form-field>
      <input matInput placeholder="email" type="email" [(ngModel)]="user.email" name="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="key" type="text" [(ngModel)]="key" name="key" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="!verifyForm.valid">Verify</button>
  </form>
</div>