<mat-toolbar class="navbar-fixed mat-elevation-z10" color="primary">
	<div class="button-row">
		<button mat-raised-button color="accent" routerLink="/">Twitter</button>
		
		<button mat-raised-button color="primary" routerLink="/login" *ngIf="!isLoggedIn">Log In</button>
		<button mat-raised-button color="primary" routerLink="/signup" *ngIf="!isLoggedIn">Sign Up</button>
		<button mat-raised-button color="primary" routerLink="/verify" *ngIf="!isLoggedIn">Verify</button>

		<!-- <button mat-raised-button color="primary" routerLink="/home" *ngIf="isLoggedIn">Home</button> -->
		<button mat-raised-button color="primary" routerLink="/additem" *ngIf="isLoggedIn">Add Item</button>
		<button mat-raised-button color="primary" routerLink="/getitem" *ngIf="isLoggedIn">Get Item</button>
		<button mat-raised-button color="primary" routerLink="/search" *ngIf="isLoggedIn">Search</button>
	</div>
</mat-toolbar>