<mat-toolbar class="navbar-fixed mat-elevation-z10" color="primary">
	<h1>Twitter</h1>
	<div class="button-row" style="margin-left: 10px;">
		<button mat-raised-button color="accent" routerLink="/home">Home</button>
		<button mat-raised-button color="primary" routerLink="/login">Log In</button>
		<button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
		<button mat-raised-button color="primary" routerLink="/additem">Add Item</button>
		<button mat-raised-button color="primary" routerLink="/getitem">Get Item</button>
		<button mat-raised-button color="primary" routerLink="/search">Search</button>
	</div>
</mat-toolbar>