<!-- additem form -->
<form #additemForm="ngForm" (ngSubmit)="onAddItem()" class="form-container">
  <h2>Add Item</h2>
  <hr>
  <mat-form-field>
    <input matInput placeholder="content" type="text" [(ngModel)]="addItem['content']" name="content" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="child type (Coming Soon)" type="text" [(ngModel)]="addItem['type']" name="type" disabled>
    
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="!additemForm.valid || !addItem['content'].trim()">Add Item</button>
</form>